body {
	display: grid;
	place-items: center;
	height: 100vh;
	margin: 0;
	padding: 0;
	background-color: black;
	color: white;
	user-select: none;
}



.main {
	text-align: center;
	font-size: 50px;
	margin-bottom: 30px;
}

.room-image {
	width: 800px;
}}